@using System.Data
@model DataSet
@{
    DataTable tenderDt;
    DataTable dt;
}
<div class="BomRefDtls">
    <div class="closeMenu">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="col-sm-12 row BomRefHeader m-0">
        Tender Revisionwise Report

    </div>
    <div class="TenderDtlTable tableBlock tablePrctender">
        <table class="table tableLayout">
            <tr class="rowHeadings">
                @{
                    if (Model != null)
                    {
                        <th rowspan="2" class="rawMaterial">Raw Material</th>
                        tenderDt = Model.Tables[0];
                        foreach (DataRow row in tenderDt.Rows)
                        {
                            <th colspan="2" class=" revisionTD text-center">@row["Name"]</th>
                        }
                    }
                }
            </tr>
            <tr class="rowHeadings">
                @{
                    if (Model != null)
                    {
                        tenderDt = Model.Tables[0];
                        foreach (DataRow row in tenderDt.Rows)
                        {
                            <th class="tenderGrWt text-center">gross wt</th>
                            <th class="tenderNetWt text-center">net wt</th>
                        }
                    }
                }
            </tr>
            @{
                if (Model != null)
                {
                    dt = Model.Tables[1];
                    tenderDt = Model.Tables[0];
                    foreach (DataRow row in dt.Rows)
                    {
                        <tr class="">
                            <td class="rawMaterial">@row["RawMaterialDesc"]</td>
                            @foreach (DataRow dataRow in tenderDt.Rows)
                            {
                                string columnNameGrWt = "Rev" + dataRow["TenderRevisionNo"] + "_GrWt";
                                string columnNameNtWt = "Rev" + dataRow["TenderRevisionNo"] + "_NtWt";
                                <td class="tenderGrWt text-center">@row[columnNameGrWt]</td>
                                <td class="tenderNetWt text-center">@row[columnNameNtWt]</td>
                            }

                        </tr>
                    }


                }
            }
        </table>
    </div>
</div>
