
@{
    ViewBag.Title = "TenderStructure";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("TenderStructure", "TenderStructure", FormMethod.Post, new { @id = "TenderStrForm", autocomplete = "off" }))
{
    <div class="main-content mainContentPaddingBtm">
        <div class="row tenderRow ">
            <div class="col-sm-12 ">
                <ul class="nav nav-tabs tabList">
                    <li class="navLi"><a data-toggle="tab" href="#lines" class="firstOpen">Lines</a></li>
                    <li class="navLi"><a data-toggle="tab" href="#lots" class="tabClick">Lots</a></li>
                    <li class="navLi"><a data-toggle="tab" href="#packages" class="tabClick">Packages</a></li>
                    <li class="navLi"><a data-toggle="tab" href="#DtlStrt" class="tabClick">Details Structute</a></li>
                </ul>

                <div class="tab-content">
                    <div id="lines" class="tab-pane fade in active show">
                        <div class="TestMaterForm ">
                            <div class="col-sm-9 mt-3">
                                <div class="form-group">
                                    <label class="">Number Of Lines</label>
                                    <div class="d-flex AddDtlsDiv">
                                        <input type="text" placeholder="Enter Total Number of lines" class="p-2" id="txtLineNo" />
                                        <input type="button" id="btnAddLines" value="Add" class="mt-3 m-0 mb-4 submitBomBtn publishBtn" />
                                    </div>
                                   
                                </div>
                            </div>

                            <div class="col-sm-12 NumberOfRow mt-5">
                                <div class="row" id="lineDiv">

                                </div>
                            </div>
                            <div class="col-sm-12 text-right p-5 saveCancelBtn" style="display:none">
                                <input type="button" id="btnLineSave" value="Save" class="p-2 submitBomBtn saveBtn" />
                                <input type="button" id="btnLineCancel" value="Cancel" class="p-2 submitBomBtn publishBtn" />
                            </div>

                        </div>
                    </div>
                    <div id="lots" class="tab-pane fade">
                        <div class="TestMaterForm ">
                            <div class="col-sm-9 mt-3">
                                <div class="form-group">
                                    <label>Number Of Lots</label>
                                    <div class="d-flex AddDtlsDiv">
                                        <input type="text" placeholder="Enter Total Number of lots" class="p-2" id="txtLotNo" />
                                        <input type="button" value="Add" class="mt-3 m-0 mb-4 submitBomBtn publishBtn" id="btnAddLots" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 NumberOfRow mt-5" >
                                <div class="row" id="lotDiv">

                                </div>
                            </div>
                            <div>
                                <div class="col-sm-12 text-right p-5 saveCancelBtn" style="display:none">
                                    <input type="button" id="btnLotSave" value="Save" class="p-2 submitBomBtn saveBtn" />
                                    <input type="button" id="btnLotCancel" value="Cancel" class="p-2 submitBomBtn publishBtn" />
                                </div>
                            </div>

                        </div>
                    </div>
                    <div id="packages" class="tab-pane fade">
                        <div class="TestMaterForm ">
                            <div class="col-sm-9">
                                <div class="form-group">
                                    <label>Number Of Packages</label>
                                    <div class="d-flex AddDtlsDiv">
                                        <input type="text" placeholder="Enter Total Number of Packages" class="p-2" id="txtPkgNo" />
                                        <input type="button" id="btnAddPkg" value="Add" class="mt-3 m-0 mb-4 submitBomBtn publishBtn"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 NumberOfRow mt-5" >
                                <div class="row" id="pkgDiv">

                                </div>
                            </div>
                            <div>
                                <div class="col-sm-12 text-right p-5 saveCancelBtn" style="display:none">
                                    <input type="button" id="btnPkgSave" value="Save" class="p-2 submitBomBtn saveBtn" />
                                    <input type="button" id="btnPkgCancel" value="Cancel" class="p-2 submitBomBtn publishBtn" />
                                </div>
                            </div>

                        </div>
                    </div>
                    <div id="DtlStrt" class="tab-pane fade">
                        <div class="TestMaterForm ">
                            <div class="col-sm-12 mt-5">
                                <div class="tableBlock">
                                    <table class="table">
                                        <tr>
                                            <th class="DtlLine">Details of Line</th>
                                            <th class="DtlLot">Details of Lots</th>
                                            <th class="Dtlpack">Details of Packages</th>
                                        </tr>
                                        <tr>
                                            <td>Line 1</td>
                                            <td>
                                                <select class="selectDrpdwn">
                                                    <option>Lots 1</option>
                                                    <option>Lots 2</option>
                                                    <option>Lots 3</option>
                                                    <option>Lots 4</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select class="selectDrpdwn">
                                                    <option>package 1</option>
                                                    <option>package 2</option>
                                                    <option>package 3</option>
                                                    <option>package 4</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Line 1</td>
                                            <td>
                                                <select class="selectDrpdwn">
                                                    <option>Lots 1</option>
                                                    <option>Lots 2</option>
                                                    <option>Lots 3</option>
                                                    <option>Lots 4</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select class="selectDrpdwn">
                                                    <option>package 1</option>
                                                    <option>package 2</option>
                                                    <option>package 3</option>
                                                    <option>package 4</option>
                                                </select>
                                            </td>
                                        </tr>                                    </table>
                                </div>



                                @*<div class="row mt-4">
                                    
                                    <div class="col-sm-4 DesLines">
                                        <h4 class="mb-4 font-weight-bold">Details of Lines</h4>
                                        <label>Line 1</label>
                                        <label>Line 2</label>
                                        <label>Line 3</label>
                                        <label>Line 4</label>
                                    </div>
                                    <div class="col-sm-4 DesLots">
                                        <h4 class="mb-4 font-weight-bold">Details of Lots</h4>
                                        <select class="whiteBgSelect">
                                            <option>Lots 1</option>
                                            <option>Lots 2</option>
                                            <option>Lots 3</option>
                                            <option>Lots 4</option>
                                        </select>
                                        <select class="whiteBgSelect">
                                            <option>Lots 1</option>
                                            <option>Lots 2</option>
                                            <option>Lots 3</option>
                                            <option>Lots 4</option>
                                        </select>
                                        <select class="whiteBgSelect">
                                            <option>Lots 1</option>
                                            <option>Lots 2</option>
                                            <option>Lots 3</option>
                                            <option>Lots 4</option>
                                        </select>
                                        <select class="whiteBgSelect">
                                            <option>Lots 1</option>
                                            <option>Lots 2</option>
                                            <option>Lots 3</option>
                                            <option>Lots 4</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4 DesPack">
                                        <h4 class="mb-4 font-weight-bold">Details of packages</h4>
                                        <select class="whiteBgSelect">
                                            <option>package 1</option>
                                            <option>package 2</option>
                                            <option>package 3</option>
                                            <option>package 4</option>
                                        </select>
                                        <select class="whiteBgSelect">
                                            <option>package 1</option>
                                            <option>package 2</option>
                                            <option>package 3</option>
                                            <option>package 4</option>
                                        </select>
                                        <select class="whiteBgSelect">
                                            <option>package 1</option>
                                            <option>package 2</option>
                                            <option>package 3</option>
                                            <option>package 4</option>
                                        </select>
                                        <select class="whiteBgSelect">
                                            <option>package 1</option>
                                            <option>package 2</option>
                                            <option>package 3</option>
                                            <option>package 4</option>
                                        </select>
                                    </div>
                                </div>*@
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
}

<script>
    $(document).ready(function () {

        $(".tabClick").click(function () {
            $(".navLi a").removeClass("firstOpen");
        })
    })

    $("#btnAddLines").click(function () {
        var totalLines = $("#txtLineNo").val();
        var txtHtml = '<div class="col-sm-6"><div class="form-group"><label>Name Of Line</label>' +
            '<input type="text" placeholder="Enter the Line Name" class="p-2" name="LineName" />' +
            '</div></div>';
        if (totalLines > 0) {
            $.each(new Array(Number(totalLines)), function (i) {
                $("#lineDiv").append(txtHtml);
            });

        }
        $('.saveCancelBtn').removeAttr('style');
    });

    $("#btnAddLots").click(function () {
        var totalLots = $("#txtLotNo").val();
        var txtHtml = '<div class="col-sm-6" >' +
            '<div class="form-group"><label>Name Of Lots</label>' +
            '<input type="text" placeholder="enter name of lots" class="p-2" name="lotName"/>' +
            '</div></div >';
        if (totalLots > 0) {
            $.each(new Array(Number(totalLots)), function (i) {
                $("#lotDiv").append(txtHtml);
            });

        }
        $('.saveCancelBtn').removeAttr('style');
       
    });
   

    $("#btnAddPkg").click(function () {
        var totalPkg = $("#txtPkgNo").val();
        var txtHtml = ' <div class="col-sm-6" >'+
                '<div class="form-group"><label>Name Of Packages</label>'+
                    '<input type="text" placeholder="enter name of packages" class="p-2" name="pkgName"/>'+
                '</div></div >'
        if (totalPkg > 0) {
            $.each(new Array(Number(totalPkg)), function (i) {
                $("#pkgDiv").append(txtHtml);
            });

        }
        $('.saveCancelBtn').removeAttr('style');
    });


    $("#btnLineSave").click(function () {
        var form = $("#TenderStrForm").serialize();
        $.ajax({
            type: 'POST',
            url: '/SaveLine/TenderStructure',
            data: { form: form },
            dataType: JSON,
            success: function (data) {
                alert('Line data save successfully.');
            },
            error: function (data) {
                alert('Some Error occured.');
            }
        });
    });


    $("#btnLotSave").click(function () {
        var form = $("#TenderStrForm").serialize();
        $.ajax({
            type: 'POST',
            url: '/SaveLot/TenderStructure',
            data: { form: form },
            dataType: JSON,
            success: function (data) {
                alert('Line data saved successfully.');
            },
            error: function (data) {
                alert('Error while saving Line data');
            }
        });
    });
    

    $("#btnPkgSave").click(function () {
        var form = $("#TenderStrForm").serialize();
        $.ajax({
            type: 'POST',
            url: '/SavePackage/TenderStructure',
            data: { form: form },
            dataType: JSON,
            success: function (data) {
                alert('Package data saved successfully.');
            },
            error: function (data) {
                alert('Error while saving Package data');
            }
        });
    });

</script>