@model Karamtara_Application.Models.LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" rel="stylesheet" type="text/css" />-->

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css">

    <link rel="stylesheet" href="~/Assets/css/style.css" />


    <!--<script src="js/materialize.min.js"></script>-->
    @*<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>*@
    <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />


    <script src="~/Assets/js/popper.js"></script>
    <script src="~/Assets/js/bootstrap-material-design.js"></script>
    <script>$(document).ready(function () { $('body').bootstrapMaterialDesign(); });</script>

    <script src="https://cdn.rawgit.com/FezVrasta/snackbarjs/1.1.0/dist/snackbar.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <!-- Added for datepicker-->
</head>
<body>
    <div class="container-fluid ">
        <!--header commonon every page-->
        <div class="header">
            <div class="row">
                <div class="col-sm brand-logo"><img src="../Assets/images/logo.png" /></div>
                <!--

                <div class="col-sm LoginUser  text-right">
                    <div class="username col-12"><img src="images/user.png" /> Mr. Sachin Sawant</div>
                    <div class="logOut col-12">Logout</div>
                </div>-->
            </div>
            <div class="row blueHorizLine"></div>
        </div>
        <!--header commonon every page-->
        <div class="main-content">
            <div class="row loginBlock">
                <span>Login</span>
                @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { @id = "LoginForm", @class = "loginForm", @autocomplete="off" }))
                {
                    <div class="form-group bmd-form-group">
                        <!-- left unspecified, .bmd-form-group will be automatically added (inspect the code) -->
                        <label for="email" class="font-weight-bold">Email Id</label>
                        @Html.TextBoxFor(x => x.UserName, null, new { @class = "form-control", id = "email", @required="required", @autocomplete = "off" })
                    </div>
                    <div class="form-group bmd-form-group">
                        <!-- manually specified -->
                        <label for="password" class="font-weight-bold">Password</label>
                        @Html.TextBoxFor(x => x.Password, null, new { @class = "form-control", id = "password", @type = "password", @required = "required", @autocomplete = "off" })
                    </div>
                    <div class="loginBtn">
                        <button type="submit" class="btn" id="loginBtn">LOGIN</button>
                    </div>
                    @*<div class="forgetPassBtn">
                            <button type="button" class="btn">FORGET PASSWORD</button>
                        </div>*@
                    <div class="signup">
                        <button type="button" class="btn" onclick="location.href='@Url.Action("Index", "Signup")'">SIGN UP</button>
                    </div>
                }
            </div>

        </div>
    </div>

    <div class="modal fade" id="successModel" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header modelHeader">
                    <span class="modal-title modalMsgTitle" id="modalTitle"></span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label id="modalBody" class="lableMsg">  </label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="submitBomBtn publishBtn" id="modalOkButton">OK</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
<script>
    function failureModal() {
        $('#modalTitle').html('Failure');
        $('#modalBody').html('Invalid Username or Password'); 
        $("#modalOkButton").attr('data-dismiss', 'modal');
        $("#successModel").modal('show');
    }

    $("#LoginForm").submit(function (e) {
        e.preventDefault();
        var userName = $("#email").val();
        var passWord = $("#password").val();

        var model = { UserName: userName, Password: passWord };
        var temp = JSON.stringify(model);

        $.ajax({
            type: 'POST',
            url: "/Login/Login",
            data: { loginCred: model},
            dataType: 'json',
            success: function (data) {
                if (data.UserId > 0) {
                    var url = "/Enquiry/CreateEnquiry";
                    window.location.href = url;
                }
                else failureModal();
            }
        });
    });

    $(document).ready(function () {
       // $('#LoginForm input').attr('autocomplete', 'off');
        $('#password').keypress(function (e) {
            if (e.which === 13)
                // alert('hi');
                $("#loginBtn").click();
        });

    });

</script>