@model Karamtara_Application.Models.MasterDataModel

@{
    ViewBag.Title = "Master";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("CreateMaster", "Master", FormMethod.Post, new { @id = "CreateForm", enctype = "multipart/form-data" }))
{
    <div class="main-content">
        <div class="row">
            <div class="col-sm-12 ">
                <div class="row ProdNmBlock p-2">
                    <div class="col-sm-8 align-items-center d-flex">
                        <img src="../Assets/images/testMaster.png" height="20px">  All MASTER
                    </div>

                </div>

            </div>
            <div class="col-sm-4">
                <div class="createRawMater tableBlock" id="rawMaterialInput">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="addRawMateHead">ADD NEW DATA</div>
                            <div class="addMaterForm">
                                <div class="form-group">
                                    <label>Type</label>
                                    @Html.DropDownListFor(x => x.Type, new SelectList(Model.MasterTypeList, "Value", "Text"), "Select Type", new { @class = "browser-default custom-select", @onchange = "loadList()" })
                                </div>
                                <div class="form-group">
                                    <label>Name</label>
                                    @Html.TextBox("Name", string.Empty, new { @id = "txtName", @class = "" })
                                </div>
                            </div>
                            <div class="saveMater">
                                <button type="button" class="submitBomBtn saveBtn" id="btnSave">Add</button>
                                <button type="button" class="submitBomBtn publishBtn" id="btnCancel">Cancel </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-8" id="rmList">
                <div class="RawMasterdetails tableBlock">
                    <div class="row">
                        <div class="addRawMateHead col-sm-12">
                            List
                            @*<button type="button" class="btn SearchBtn" id="btnSearch"><img src="~/Assets/images/search.png" /></button>
                        <input id="txtSearchName" name="MaterialName" type="text" value="" placeholder="Search Raw Material" autocomplete="off" class="selectpicker">
                        <input type="hidden" id="hidRMSearch" name="searchText" />*@
                            <div class="searchBlock pb-3">
                                <div class="inputSerachDiv ">
                                    <span class="bmd-form-group">
                                        <input id="txtSearchName" name="MaterialName" type="text" value="" autocomplete="off" class="selectpicker ml-0">
                                        <button type="button" class="btn SearchBtn" id="btnSearch"><img src="~/Assets/images/search.png" /></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div id="masterList" class="col-sm-12 p-0">

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="successModel" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header modelHeader">
                    <span class="modal-title modalMsgTitle" id="modalTitle"></span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label id="modalBody" class="lableMsg">  </label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="submitBomBtn publishBtn" id="modalOkButton">OK</button>
                    <button type="button" class="submitBomBtn publishBtn" style="display:none;" id="modalCancelButton" onclick="refreshList()">cancel</button>
                </div>
            </div>
        </div>
    </div>
}
<script>

    function successModal(operation) {
        $("#txtSearchName").val("");
        $("#modalCancelButton").hide();
        $("#modalOkButton").html("OK");
        $('#modalTitle').html('Success');
        $('#modalBody').html('Record ' + operation + ' Successfully');
        $("#modalOkButton").attr('onclick', 'refreshList()');
        $("#successModel").modal('show');
    }

    function failureModal() {
        $("#txtSearchName").val("");
        $("#modalCancelButton").hide();
        $("#modalOkButton").html("OK");
        $('#modalTitle').html('Failure');
        $('#modalBody').html('Record ' + operation + 'Failed');
        $("#modalOkButton").attr('onclick', 'window.location.reload();');
        $("#successModel").modal('show');
    }

    function refreshList() {
        $("#txtName").val("");
        $("#successModel").modal('hide');
        loadList();
    }

    $(document).ready(function () {

        $("#masterList").load("/Master/getMaster?type=0");
    });

    $("#btnCancel").click(function () {
        $('#Type').val("");
        $("#txtName").val("");
    });

    function loadList() {
        var selectedType = $('#Type option:selected').val();

        if (selectedType != "") {
            AutoCompleteType();
            $("#masterList").load("/Master/getMaster?type=" + selectedType);
        }
        else {
            $("#masterList").load("/Master/getMaster?type=0");
        }
    }

    function deleteMaster(id) {
        //
        $("#modalCancelButton").show();
        $('#modalTitle').html('Confirm Deletion');
        $("#modalOkButton").html("Yes");
        $('#modalBody').html('Are you sure want to delete the record?');
        $("#modalOkButton").attr('onclick', 'deleteRecord(' + id + ')');
        $("#successModel").modal('show');
    }

    function deleteRecord(id) {
        $.ajax({
            type: "post",
            url: "/Master/DeleteMaster",
            dataType: "json",
            data: { id: id, type: $('#Type option:selected').val() },
            success: function (data) {
                if (data == true) {
                    successModal('deleted');
                }
                else {
                    failureModal('deletion');
                }
            },
            error: function (courses) {
                failureModal();
            }
        });
    }

    $("#btnSearch").click(function () {
        if ($("#txtSearchName").val().length != 0) {
            event.preventDefault();
            var value = $("#txtSearchName").val();
            masterList(value);
        }
    })

    $("#txtSearchName").keydown(function (event) {
        if (event.keyCode == 13) {
            if ($("#txtSearchName").val().length != 0) {
                event.preventDefault();
                var value = $("#txtSearchName").val();
                masterList(value);
            }
        }
    })

    $("#btnSave").click(function () {
        ////
        var type = $('#Type option:selected').val();
        var name = $("#txtName").val();

        if (name && type) {
            $.ajax({
                type: "post",
                url: "/Master/CreateMaster",
                dataType: "json",
                data: { name: name, type: type, id: 0 },
                success: function (data) {
                    if (data.Message == 'UpdatedDeleted') {
                        $("#txtSearchName").val("");
                        $("#modalCancelButton").hide();
                        $("#modalOkButton").html("OK");
                        $('#modalTitle').html('Success');
                        $('#modalBody').html('The data is in deactive state. It has been activated.');
                        $("#modalOkButton").attr('onclick', 'refreshList()');
                        $("#successModel").modal('show');
                    }
                    else if (data.Id > 0) {
                        successModal('created');
                    }
                    else {
                        failureModal('creation');
                    }
                },
                error: function (courses) {
                    failureModal();
                }
            });
        }
        else {
            ShowSnackBar("Please fill both fields");
        }
    })

    function masterList(value) {
        $.ajax({
            type: 'POST',
            url: "/Master/GetMasterByPrefix",
            data: { type: $("#Type").val(), prefix: value },
            dataType: 'html',
            contentType: "application/x-www-form-urlencoded;charset=utf-8",
            success: function (data) {
                $("#txtSearchName").val(value);
                $("#masterList").html(data);
            },
            error: function (response) {
            },
            failure: function (response) {
            }
        });
        return false;
    }

    function AutoCompleteType() {
        $("#txtSearchName").autocomplete({
            source: function (request, response) {
                $.ajax({
                    type: 'POST',
                    url: "/Master/SearchMasterByPrefix",
                    data: { type: $("#Type").val(), prefix: request.term },
                    dataType: 'json',
                    success: function (data) {
                        ////
                        response($.map(data, function (item) {
                            return { label: item.Name, value: item.Id }
                        }))
                    },
                    error: function (response) {
                    },
                    failure: function (response) {
                    }
                });
            },
            select: function (e, i) {
                ////
                $(this).val(i.item.label);
                masterList(i.item.label);
            },
            change: function (e, i) {
                if (i.item == null) {
                    $(this).val("");
                    $(this).focus();
                    $("#txtName").val("");
                }
            },
            minLength: 2
        });
    }



</script>