<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  ts://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <!--<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />-->
  <connectionStrings>
    <!--<add name="connectionString" connectionString="Server=tcp:imajlisdb.database.windows.net;Initial Catalog=imajlisDB;Persist Security Info=False;User ID=sqlsa;Password=imajlis123*;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />-->
    <!--<add name="connectionString" connectionString="Data Source=DESKTOP-0734S35\SQLEXPRESS14; Initial Catalog=KaramtaraDB;User ID=sql;Password=sa#2014;Integrated Security=true;" />-->
    <!--<add name="connectionString" connectionString="Data Source=DESKTOP-N9SNERA\SQLEXPRESS; initial Catalog=HF_TenderCostingDB;Integrated Security=true;" />-->
    <!--<add name="connectionString" connectionString="Server=KHVM-HREXC; Initial Catalog=HF_TenderCosting;Use r ID=sa;Password=karam123@;"/>-->
    <!--<add name="connectionstring" connectionString="Data Source=DeSKTOP-91FrtU3; Initial catalog=KaramtaraDB;User ID=sql;Password=sa#2015;Integrated Security=true;" />-->
    <!--<add name="connectionString" connectionString="Data Source=MANISHA-PC\SQLEXPRESS; Initial Catalog=KaramtaraDB;User ID=sql;Password=sa#2014;Integrated Security=true;" />-->
    <!--<add name="connectionString" connectionString="Data Source=.\SQLEXPRESS; Initial Catalog=Karamtara_Final;User ID=sql;Password=sa#2014;Integrated Security=true;" />-->
    <!--<add name="connectionString" connectionString="Data Source=ADMIN-PC\SQLEXPRESS; initial Catalog=HF_TenderCostingDB;Integrated Security=true;User ID=sa;Password=sa@123;" providerName="System.Data.SqlClient" />-->
    <!--<add name="connectionString" connectionString="Data Source=DESKTOP-0DGAVJU\SQLEXPRESS; initial Catalog=HF_TenderCostingDB;Integrated Security=true;User ID=sa;Password=sa@123;" providerName="System.Data.SqlClient" />-->
  <add name="connectionString" connectionString="Data Source=DESKTOP-QD2QC8K\SQLEXPRESS; initial Catalog=HF_TenderCostingDB;Integrated Security=true;" />
</connectionStrings>

  
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="smtpHost" value="smtp.gmail.com" />
    <add key="smtpEmailId" value="devacc909909@gmail.com" />
    <add key="smtpPassword" value="Password*123" />
    <add key="useDefaultCredentials" value="false" />
    <add key="enableSsl" value="true" />
    <add key="smtpPort" value="587" />
    <!--<add key="smtpHost" value="email.karamtara.com" />-->
    <!--<add key="smtpEmailId" value="tendercosting@karamtara.com" />-->
   
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.
    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5" />
    <httpRuntime maxRequestLength="1048576" requestPathInvalidCharacters="" requestValidationMode="2.0" />
    <pages controlRenderingCompatibilityVersion="4.5" validateRequest="false" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <modules />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
