@model Karamtara_Application.Models.BomAuditModel

<div class="BomRefDtls">
    <div class="closeMenu">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="col-sm-12 row  m-0">
        <div class="col-sm-5 BomRefHeader">
            BOM AUDIT TRAIL
        </div>
    </div>
    <div class="tableBlock TenderDtlModelTable">
        <table class="table m-0 ">
            <tr>
                <th class="lastEdit">Last Edited By</th>
                <th class="onEdit"><img src="../../Assets/images/calender.png"> Edited On</th>
                <th class="version">Version</th>
            </tr>
            @foreach (var item in Model.AuditList)
            {
                <tr>
                    <td class="lastEdit">@item.UserName</td>
                    <td class="onEdit">@item.Timestamp.ToString("dd MMM yyyy hh:mm:ss tt")</td>
                    <td class="version">@item.Version</td>
                </tr>
            }

        </table>
    </div>
</div>

